<div class="p-grid p-fluid loginBox">
    <form>
        <fieldset class="fieldsetLogin">
            <h1>ACESSO AO SISTEMA</h1>
            <br>
            <div style="width: 300px;">
                <span>CPF</span>
                <p-inputMask mask="999.999.999-99" placeholder="999.999.999-99"></p-inputMask>
                <!-- [(ngModel)]="pessoa.cpf" -->
            </div>
            <br>
            <div style="width: 300px;">
                <span>Senha</span>
                <p-password [toggleMask]="true"></p-password>
                <!-- [(ngModel)]="pessoa.senha" -->
            </div>
            <br>
            <a href="">Esqueceu sua senha?</a>
            <br>
            <a href="">Não possui acesso?</a>
            <br>
            <button pButton pRipple type="button" label="Entrar" class="p-button-sm"></button>
        </fieldset>
    </form>
</div>