<div class="boxFiltro">
    <div class="componentes" [formGroup]="formularioFiltro">
        <fieldset class="fieldsetFiltrar">
            <h1>Filtrar Apreciações</h1>
            <br>
            <div class="TipoEquipamento">
                <span>Tipo Equipamento</span>
                <br>
                <p-dropdown
                    optionLabel="descricao"
                    optionValue="id"
                    formControlName="tipoEquipamento"
                    placeholder="Selecione o tipo do equipamento"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaTiposEquipamentos"
                    [(ngModel)]="filtroListarApreciacoes.idTipoEquipamento" 
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                ></p-dropdown>
            </div>
            <div class="FaixaHRN">
                <span>Faixa HRN</span>
                <br>
                <p-dropdown
                    optionLabel="descricao"
                    optionValue="id"
                    formControlName="faixaHRN"
                    placeholder="Selecione a faixa do HRN"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaFaixaHRN"
                    [(ngModel)]="filtroListarApreciacoes.faixaHRN" 
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                ></p-dropdown>
            </div>
            <br>
            <div class="PorData">
                <span>Por Data</span>
                <br>
                <p-calendar 
                    formControlName="dataInicio"
                    placeholder="__/__/____"
                    dateFormat="dd/mm/yy"
                    [showButtonBar]="true"
                    [showWeek]="true"
                    [showIcon]="true"
                    [monthNavigator]="true" 
                    [yearNavigator]="true"
                    yearRange="2000:2030"
                    [inline]="false"
                    [(ngModel)]="filtroListarApreciacoes.dataInicio"
                    autoWidth="false" 
                    [style]="{'width':'150px'}"
                ></p-calendar>
                <span> à </span>
                <p-calendar 
                    formControlName="dataFim"
                    placeholder="__/__/____"
                    dateFormat="dd/mm/yy"
                    [showButtonBar]="true"
                    [showWeek]="true"
                    [showIcon]="true"
                    [monthNavigator]="true" 
                    [yearNavigator]="true"
                    yearRange="2000:2030"
                    [inline]="false"
                    [(ngModel)]="filtroListarApreciacoes.dataFim"
                    autoWidth="false" 
                    [style]="{'width':'150px'}"
                ></p-calendar>
            </div>
            <div class="Botoes">
                <p-button 
                    class="BotaoLimpar"
                    label="Limpar" 
                    icon="pi pi-filter-slash"  
                    iconPos="right"
                    (click)="limparCamposFormulario()"
                ></p-button>
                <p-button 
                    class="BotaoFiltrar"
                    label="Filtrar" 
                    icon="pi pi-filter"  
                    iconPos="right"
                ></p-button>
            </div>
        </fieldset>
    </div>
</div>
<div class="boxTabelaApreciacoes">

</div>
