<div class="boxFiltro">
    <div class="p-grid p-fluid" [formGroup]="formularioFiltro">
        <fieldset class="fieldsetFiltrar">
            <h1>Filtrar Apreciações</h1>
            <br>
            <div style="width: 400px;">
                <span>Tipo Equipamento</span>
                <p-dropdown 
                    optionLabel="descricao"
                    optionValue="id"
                    formControlName="tipoEquipamento"
                    placeholder="Selecione o tipo do equipamento"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaTiposEquipamentos"
                    [(ngModel)]="filtroListarApreciacoes.idTipoEquipamento" 
                ></p-dropdown>
            </div>
        </fieldset>
    </div>
</div>
