<div class="boxTabelaApreciacoes">
    <h1>Lista de Apreciações</h1>
    <div>
        <p-button 
            class="botaoNovaApreciacao"
            label="Nova Apreciacao" 
            icon="pi pi-plus"
            [routerLink]="['/novaApreciacao']"
        ></p-button>
    </div>
    <br>
    <br>
    <br>
    <p-table 
        [value]="listaApreciacoes" styleClass="p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} apreciações" [rowsPerPageOptions]="[10,25,50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="cabecalhoTabela">
                    Código 
                    <p-sortIcon field="id"></p-sortIcon> 
                    <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="equipamento" class="cabecalhoTabela">
                    Equipamento 
                    <p-sortIcon field="equipamento"></p-sortIcon> 
                    <p-columnFilter type="text" field="equipamento" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="dataApreciacao" class="cabecalhoTabela">
                    Data 
                    <p-sortIcon field="dataApreciacao"  style="color: black !important;"></p-sortIcon> 
                    <p-columnFilter type="text" field="dataApreciacao" display="menu"></p-columnFilter>
                </th>
                <th [width]="130" class="cabecalhoTabela">
                    Ações
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-apreciacao>
            <tr>
                <td>{{apreciacao.id}}</td>
                <td>{{apreciacao.equipamento.nome}}</td>
                <td>{{apreciacao.dataApreciacao | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button botaoTabela"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button p-button-warning botaoTabela"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
