.boxTabelaApreciacoes{
    width: 1000px;
    border: 10px;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: #000000;
    background-color: white;
    padding: 10px;
}

.cabecalhoTabela{
    background-color: #0d89ec !important;
    color: #ffffff;
}

.botaoTabela{
    margin: 5px;
}
