<html>

<body>
    <div class="componentesLoginHorizontal">
        <div class="Box">
            <form>
                <fieldset>
                    <div>
                        <img src="D:\Usuario\Area de Trabalho\SGAR_Projeto\SGAR Frontend Angular\SGAR-Web-Alpha\src\assets\NR12.png" width=300 height=200>
                    </div>
                    <div>
                        <h1>SISTEMA DE GESTÃO DE APRECIAÇÃO DE RISCOS</h1>
                    </div>
                </fieldset>
            </form>
        </div>
        <router-outlet></router-outlet>
    </div>
</body>

</html>