<html>

<body>
    <div class="componentesLoginHorizontal">
        <div class="Box">
            <form>
                <fieldset>
                    <figure>
                        <img
                            src="/assets/NR12.png" width=300 height=250>
                    </figure>
                    <div>
                        <h1>SISTEMA DE GESTÃO DE APRECIAÇÃO DE RISCOS</h1>
                    </div>
                </fieldset>
            </form>
        </div>
        <router-outlet></router-outlet>
    </div>
</body>

</html>