<div class="boxNovoRisco">
    <fieldset class="fieldsetNovoRisco">
        <h1>Novo Risco</h1>
        <div class="formulario" [formGroup]="formularioNovoRisco">
            <div class="codigo">
                <span>Código</span>
                <br>
                <input
                    id="id" 
                    type="text" 
                    pInputText 
                    formControlName="id"
                    readonly="true"
                    class="inputIdRisco"
                    [(ngModel)]="novoRisco.id"
                >
            </div>
            <p-divider align="center" type="dashed" class="divisor">
                <h2 style="width: 100%;">Informações ABNT NBR ISO 12100</h2>
            </p-divider>
            <div style="width: 100%;">
                <span>Ciclo de Vida</span>
                <br>
                <p-dropdown 
                    id="cicloVida"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    formControlName="cicloVida"
                    placeholder="Selecione o Ciclo de Vida"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaCicloVida"
                    [(ngModel)]="novoRisco.cicloVida" 
                    (onChange)="buscarTarefas(novoRisco.cicloVida.id)"
                ></p-dropdown>
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <span>Tarefa</span>
                <br>
                <p-dropdown 
                    id="tarefa"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    formControlName="tarefa"
                    placeholder="Selecione a Tarefa"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaTarefa "
                    [(ngModel)]="novoRisco.tarefa" 
                ></p-dropdown>
            </div>
            <div style="margin-top: 20px;">
                <span>Tarefa</span>
                <br>
                <textarea 
                    id="tarefa"
                    formControlName="atividade"
                    [rows]="3" 
                    [cols]="124" 
                    pInputTextarea 
                    [autoResize]="true"
                    [(ngModel)]="novoRisco.atividade"
                ></textarea>
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <span>Tipo/Grupo Perigo</span>
                <br>
                <p-dropdown 
                    id="tipoGrupoPerigo"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    formControlName="tipoGrupoPerigo"
                    placeholder="Selecione o Tipo/Grupo Perigo"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaTipoGrupoPerigo "
                    [(ngModel)]="novoRisco.tipoGrupoPerigo" 
                    (onChange)="buscarDanos(novoRisco.tipoGrupoPerigo.id)"
                ></p-dropdown>
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <span>Dano</span>
                <br>
                <p-dropdown 
                    id="dano"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    formControlName="dano"
                    placeholder="Selecione o Dano"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaDano"
                    [(ngModel)]="novoRisco.dano" 
                ></p-dropdown>
            </div>
            <div style="margin-top: 20px;">
                <span>Onde</span>
                <br>
                <textarea 
                    id="onde"
                    formControlName="onde"
                    [rows]="3" 
                    [cols]="124" 
                    pInputTextarea 
                    [autoResize]="true"
                    [(ngModel)]="novoRisco.onde"
                ></textarea>
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <span>Risco</span>
                <br>
                <p-dropdown 
                    id="riscoABNT12100"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    formControlName="riscoABNT12100"
                    placeholder="Selecione o Risco"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaRiscosABNT12100"
                    [(ngModel)]="novoRisco.riscoABNT12100" 
                ></p-dropdown>
            </div>
            <p-divider align="center" type="dashed" class="divisor">
                <h2 style="width: 100%;">Cálculo HRN Atual</h2>
            </p-divider>
            <div style="width: 100%;">
                <span>Grau Possivel Lesão</span>
                <br>
                <p-dropdown 
                    id="glp"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    placeholder="Selecione o Grau de Possivel Lesão"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaGLP"
                ></p-dropdown>
                <!-- formControlName="riscoABNT12100" && [(ngModel)]="novoRisco.riscoABNT12100"  -->
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <span>Frequência de Exposição</span>
                <br>
                <p-dropdown 
                    id="fe"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    placeholder="Selecione a Frequência de Exposição"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaFE"
                ></p-dropdown>
                <!-- formControlName="riscoABNT12100" && [(ngModel)]="novoRisco.riscoABNT12100"  -->
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <span>Probabilidade de Ocorrência do Dano</span>
                <br>
                <p-dropdown 
                    id="po"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    placeholder="Selecione a Probabilidade de Ocorrência do Dano"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaPO"
                ></p-dropdown>
                <!-- formControlName="riscoABNT12100" && [(ngModel)]="novoRisco.riscoABNT12100"  -->
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <span>Numero de Pessoas Expostas</span>
                <br>
                <p-dropdown 
                    id="np"
                    optionLabel="descricao"
                    autoWidth="false" 
                    [style]="{'width':'100%'}"
                    placeholder="Selecione o Numero de Pessoas Expostas"
                    [virtualScroll]="true"
                    [filter]="true" 
                    filterBy="descricao"
                    [options]="listaNP"
                ></p-dropdown>
                <!-- formControlName="riscoABNT12100" && [(ngModel)]="novoRisco.riscoABNT12100"  -->
            </div>
        </div>
    </fieldset>
</div>